
nav{
    width: 100%;
}


.nav-menu{
    background-color: yellow;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0;
    height: 90px;
    top: 0;
    margin-bottom: 45px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.3em;
    color: black;
}

.title {
    color:black;
    text-decoration: underline;
}

.nav-link:hover{
    font-weight: 700;
}